<nz-layout class="layout">
  <nz-header>
    <div class="logo">
      <a href="#">
        <img src="../assets/OnflyLogo.png" height="40" class="mt-2 d-inline-block align-top" alt="Logo Onfly"
          loading="lazy">
      </a>
    </div>
  </nz-header>
  <nz-content>
    <app-hotels-list (open)="openDrawer()" (sendData)="receiveObject($event)">
      <app-select-hotel [visible]="isOpen" [data]="data" (close)="onClose()"></app-select-hotel>
    </app-hotels-list>
  </nz-content>
</nz-layout>
<router-outlet></router-outlet>